
html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12pt;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:none;
    width:100%;
}

/* HEADER */

.header, .image-header {
	height: 50px;
	display: block;
	font-size: 14pt;
	font-weight: bold;
	background-color: #0088AA;
	width: 100%;
	vertical-align: center;
	text-align: center;
	line-height: 50px;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
}

.header-pad {
	height: 52px;
}

.leftbutton {
	float: left;
	width: 50px;
	height: 50px;
}

.title {
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rightbutton {
	float: right;
	width: 50px;
	height: 50px;
}



/* SCREENS */

#fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nodisplay {
	display: none;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

#menu {
	z-index: 30;
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	background-color: #FFFFFF;
}

#menutop {
	padding-bottom: 10px;
	margin-bottom: 20px;
	padding-top: 50px;
	padding-left: 10px;
	background-color: #DDDDDD;
	font-size: 14pt;
	font-weight: bold;
}

#menushade {
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	display: none;
}

.menuimage {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	float: left;
	height: 20px;
}

.menutext {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	height: 20px;
	line-height: 20px;
}

#screen-login {
	display:none;
	overflow: auto;
}

#screen-index {
	display:inline-block;
	overflow: auto;
}

#screen-album-0, #screen-album-1 {
	float:left;
	overflow: auto;
}

.screen-image {
	float:left;
	background-color: black;
}



/* LISTING */

#wrapper {
	width: 100%;
	overflow: hidden; /* will contain if #first is longer than #second */
}

#first {
	width: 100px;
	float: left; /* add this */
}

#second {
	height: 100px;
	display: table;
	padding-left: 10px;
	padding-right: 10px;
}

#second p {
	display: table-cell; 
	vertical-align: middle; 
	text-align: left; 
	font-weight: bold;
}



/* IMAGE */

.mainimg, .mainimg-thumb {
    	position: absolute;
}

.mainvid {
	position: absolute;
	display: none;
}



/* ALBUM */

.thumbdiv {
	margin: 0px;
	padding: 0px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.thumb {
	outline: 1px solid white;
	outline-offset: -1px;
	margin: 0px;
	padding: 0px;
	display: block;
}

.datetext {
	font-size: 12pt;
	font-weight: bold;
	display: block;
	float: none;
	clear: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #EEEEEE;
}



/* LOGIN */

.error {
	color: red;
	display: none;
}
